@import '~bootstrap/scss/bootstrap';
.nav{
  background-color: #191A24;
}

.complete {
  text-decoration: line-through;
  // animation:strikeitem .3s ease-out 0s forwards;
}

.box {
	margin: 4rem auto;
	padding: 3rem 5rem 3rem 3rem;
	max-width: 650px;
  background: #191A24;
	color: #FFF;
  border-radius: 15px;
  border: 20px solid #38A3A5;

  h1 {
    text-align: center;
   font-weight: normal;
   font-size: 2.6rem;
   letter-spacing: 0.05em;
   border-bottom: 3px solid rgba(255,255,255,.3);
  };

  .button {
    background-color: white;
    border-color: white;
    color: rgba(120,127,135,1);
    border: outset;
    margin: 7px;
    padding: 5px;
  };

  .items {
    display: flex;
    margin: 3px;
    padding: 1.1rem 3rem;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
  };

  a {
    color: #FFF;

    .number {
      color: black;
    }
  };

  .edit-form {
    display: block;
    padding-left: 35px;
  }
}

.welcome-buttons-div {
  text-align: center;
  width: 100%;
  height: 500px;
  padding-top: 250px;
}

.welcome-button1 {
  border: outset;
  margin: 7px;
  padding: 17px;
}

.welcome-button2 {
  border: outset;
  margin: 7px;
  padding: 17px;
}
